.dialogsitem {
    text-decoration: none;
    
  }
  .dialogsitem__container {
 min-height: 34px;
 display: flex;
 flex-direction: row;
  }

  .dialogsitem.active{
    color: goldenrod;
  }

  .dialogsitem__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }