.profileinfo {
    grid-area: c;
  }
  .profileinfo__baner {
    width: 100%;
    height: 150px;
  }
  .profileinfo__avatar {
    width: 90px;
  }

  .profile-status {
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }